<div class="col-lg-3">
    <h1 class="h2">Категории товаров</h1>
    <ul class="list-unstyled" style="marging-left: -10px;">
        <li class="pb-3" style="padding-left: 10px;">
            <a class="d-flex justify-content-between h3 text-decoration-none" href="#">
                Категория 1
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="list-unstyled">
                <li><a class="text-decoration-none" style="padding-left: 10px;" href="#">Товар 1</a></li>
                <li><a class="text-decoration-none" style="padding-left: 10px;" href="#">Товар 2</a></li>
            </ul>
        </li>
        <li class="pb-3" style="padding-left: 10px;">
            <a class="d-flex justify-content-between h3 text-decoration-none" href="#">
                Категория 2
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class=" list-unstyled">
            <li class="pb-3" style="padding-left: 10px;">
                <a class=" d-flex justify-content-between h3 text-decoration-none" href="#">
                    Категория 3
                    <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                </a>
                <ul class=" list-unstyled pl-3 ">
                    <li><a class="text-decoration-none" href="#">Товар 3</a></li>
                    <li><a class="text-decoration-none" href="#">Товар 4</a></li>
                </ul>
            </li>
                <li><a class="text-decoration-none" href="#">Товар 5</a></li>
                <li><a class="text-decoration-none" href="#">Товар 6</a></li>
            </ul>
        </li>
        <li class="pb-3">
            <a class=" d-flex justify-content-between h3 text-decoration-none" href="#">
                Категория 4
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class=" list-unstyled pl-3">
                <li><a class="text-decoration-none" href="#">Товар 7</a></li>
                <li><a class="text-decoration-none" href="#">Товар 8</a></li>
                <li><a class="text-decoration-none" href="#">Товар 9</a></li>
            </ul>
        </li>
    </ul>
</div>