<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="{{ path('app_index') }}">
            PHP DEV Epsilon
        </a>

        {{ include('app/_embed/_top_navigation.html.twig') }}

    </div>
</nav>
<!-- Close Header -->