<div class="col-md-4">
    <a href="{{ path('categoryById', {'id': category.id}) }}" class="text-decoration-none">  
        <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="{{ asset('build/img/category_mock.jpg') }}">
            </div>
            <div class="card-body">
                <p class="h3 text-decoration-none">{{ category.title }}</p>
            </div>
        </div>
    </a>
</div>
