{% import "app/macros/category-tree.twig" as tree %}

<div class="col-md-4 pt-5">
    <h1 class="h2 text-light border-bottom pb-3 border-light">Категории товаров</h1>
    {{ tree.listFooter(trees) }}
</div>

